<h2>Estadísticas de las Preguntas</h2>
<p>Total de preguntas: <%= tquiz %> </p><br/>
<p>Total de comentarios: <%= tcomment %> </p><br/>
<p>Media de comentarios por pregunta: <%= media %></p><br/>
<p>Preguntas sin comentarios: <%= tquiz_sin_comment %></p><br/>
<p>Preguntas con comentarios: <%= tquiz_comment %></p>